.cell {
  cursor: pointer;
  height: 14vh;
  padding-top: 3px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  user-select: none;
}

.cell:hover {
  background-color: #f4f4f4;
}

.number {
  padding-left: 10px;
}

.selected {
  background-color: #eff6fc;
}

.today-cell {
  border-top: 3px solid #0078d4;
  padding-top: 0;
}
