.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
}

.week {
  display: grid;
  grid-template-columns: min-content repeat(7, 1fr);
  grid-template-rows: repeat(24, 1fr);
}
