.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
}

.week-row-header {
  display: grid;
  grid-template-columns: min-content repeat(7, 1fr);
  grid-template-rows: auto;
}

.week-cells {
  display: grid;
  grid-template-columns: min-content repeat(7, 1fr);
  grid-template-rows: repeat(48, 26px);
  grid-auto-flow: column;

  height: calc(100vh - 80px);
  overflow: auto;
}
