.month,
.week {
  line-height: 30px;
  height: 30px;
}

.month {
  padding: 0 0 2px 6%;
}

.week {
  padding: 3px 10px 0 12px;
}

.today-header {
  border-top: 3px solid #0078d4;
  padding-top: 0;
  padding-left: 20px;
}
